<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>
        <a href="{% url 'logs:index' %}">New Learning Log</a> -
        {% if user.is_authenticated %}
            Hello, {{ user.username }} -
            <a href="{% url 'users:logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'users:login' %}">Log In</a> -
            <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </h2>

    {% block content %}
    {% endblock content %}
</body>
</html>