<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'logs/base.html' %}
    {% load bootstrap4 %}

    {% block header %}
        <h3>Add a new topic:</h3>
    {% endblock header %}

    {% block content %}
        <form method="post" action="{% url 'logs:new_topic' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                 <button name="submit" class="btn btn-primary">Add topic</button>
            {% endbuttons %}
        </form>
    {% endblock content %}
</body>
</html>