<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'logs/base.html' %}

    {% block header %}
         <h3>{{ topic }}</h3>
    {% endblock header %}

    {% block content %}

        <p>
            <a href="{% url 'logs:new_entry' topic.id %}">Add a new entry:</a>
        </p>

        {% for entry in entries %}
            <div class="panel panel-defaul">
                <div class="panel-heading">
                    <h5>
                        {{ entry.date_added|date:'M d Y' }}
                        <small>
                                <a href="{% url 'logs:edit_entry' entry.id %}">edit entry</a>
                        </small>
                    </h5>
                </div>
                <div class="panel-body">
                    {{ entry.text|linebreaks }}
                </div>
            </div>
        % empty %}
            <p>No entries have been added yet.</p>
        {% endfor %}

        {% endblock content %}
</body>
</html>