<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'logs/base.html' %}

    {% block header %}
        <h3>Topics</h3>
    {% endblock header %}

    {% block content %}

        <p>
            <a href="{% url 'logs:new_topic' %}">Add a new topic:</a>
        </p>
        <ul>
            {% for topic in topics %}
                <li>
                    <h4>
                        <a href="{% url 'logs:topic' topic.id %}">{{ topic }}</a>
                    </h4>
                </li>
            {% endfor %}
        </ul>

    {% endblock content %}
</body>
</html>